/***************** Redéfinitions *****************/
.main__geode {

    .hero {
        background: #f8f9fa;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            inset: 0;
            background-image: linear-gradient(rgba(200, 151, 58, 0.06) 1px, transparent 1px), linear-gradient(90deg, rgba(200, 151, 58, 0.06) 1px, transparent 1px);
            background-size: 60px 60px;
            pointer-events: none;
        }
    }

    .highlight {
        background: var(--gradientGeode);;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    .card {
        background: white; 
        border: 1px solid var(--blackOutline); 
        box-shadow: var(--boxShadowSimple);
        display: flex;
        flex-direction: column;
    }

    .icon__ring {
        border: 0;
        position: relative;

        &::before {
            content: '';
            background: var(--gradientGeode);
            position: absolute;
            inset: 0;
            padding: 2px; /* épaisseur du border */
            border-radius: inherit;
            -webkit-mask:
                linear-gradient(#000 0 0) content-box,
                linear-gradient(#000 0 0);
            mask:
                linear-gradient(#000 0 0) content-box,
                linear-gradient(#000 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;
            pointer-events: none;
        }
    }
}

/***************** Présentation *****************/
.geode__presentation {

    img {
        max-width: 320px;
        margin-inline: auto;
    }

    p {
        margin-bottom: 1rem;
    }
}

/***************** Vision *****************/
.geode__vision {
    background-color: #f8f9fa;

    .title__h2 {
        margin-bottom: 1.5rem;
    }

    p {
        margin-bottom: 1rem;
    }
}

/***************** GED *****************/
.geode__modules {

    .title__h2 {
        margin-bottom: 1.5rem;
    }
}
.geode__modules--cards {
    list-style: none;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    .card {

        .text {
            margin-block: 1.4rem 1.5rem;
    
            p {
                color: var(--text1);
                margin-bottom: 1rem;
            }
        }
    
        .list__tag {
            list-style: none;
            margin-block: auto 0;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            justify-content: space-between;

            span {
                margin-inline: auto;
                width: 80%;
            }
        }
    }
}

/***************** Slider *****************/
.geode__slider {
    background-color: #f8f9fa;
    display: none;
}

.swiper-horizontal {
    max-width: 80rem;

    .swiper-slide {
        border-radius: var(--radiusMd);
        overflow: hidden;
    
        img {
            width: 100%;
            object-fit: cover;
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        background-color: #fff;
        box-shadow: 0px 2px 4px 1px rgb(0, 0, 0, .4);
        border-radius: 50%;
        cursor: pointer;
        width: 40px;
        height: 40px;
        transition: all .3s ease;

        &:hover {
            box-shadow: 0px 2px 4px 1px rgb(0, 0, 0, 1);
            transform: translateY(-2px);
        }

        svg { 
            display: none;
        }

        &::after {
            content: "";
            background: url("../img/pictos/arrowSlider.svg") center top / 30px no-repeat;
            height: 30px;
            width: 30px;
            top: 5px;
            left: 9px;
            position: absolute;
        }
    }

    .swiper-button-prev {
        left: 1rem!important;
    }

    .swiper-button-next {
        right: 1rem!important;
    
        &::after {
            transform: rotate(180deg);
            left: -2px;
        }
    }

    .swiper-pagination-bullet {
        background: white;
        box-shadow: 0px 2px 4px 1px rgb(0, 0, 0, 0.7);
        opacity: 0.8;
        width: 10px;
        height: 10px;
    }

    .swiper-pagination-bullet-active {
        opacity: 1;
        height: 13px;
        width: 13px;
    }
}

/***************** Breakpoints *****************/
/* Custom : 30em *  16px => 480px */
@media screen and (min-width: 30rem) {

    /* Redéfinition */
    .main__geode  .hero .ui__btn--gradientSecond {
        width: 60%;
    }

    /* Cards */
    .geode__modules--cards .card {
        width: 75%;
    }
}

/* Tablette : 48em *  16px => 768px */
@media screen and (min-width: 48rem) {

     /* Redéfinition */
     .main__geode  .hero .ui__btn--gradientSecond {
        width: 40%;
    }

    /* Présentation */
    .geode__presentation {
        flex-direction: row;
        gap: 4rem;
        align-items: center;
        margin-top: 4rem;

        .structure__content {
            width: 50%;
        }

        .structure__columns {
            flex-direction: row;
            align-items: center;;
        
            img {
                max-width: 320px;
                margin-inline: auto;
                order: 1;
            }
        }
    }

    /* Vision */
    .geode__vision {
    
        .title__h2 {
            margin-bottom: 2.5rem;
        }
    }
    
    /* Modules */
    .geode__modules {
    
        .title__h2 {
            margin-bottom: 2.5rem;
        }
    }

    .geode__modules--cards {
        margin-top: 4rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: stretch;
        gap: 2rem;

        .card {
            width: 100%;
        }
    }

    /* Slider */
    .geode__slider {
        display: block;
    }
}

/* Desktop : 80em *  16px => 1280px */
@media screen and (min-width: 80rem) {

    /* Vision */
    .geode__vision {
    
        .title__h2 {
            margin-bottom: 4rem;
        }
    }

    /* Modules */
    .geode__modules {
    
        .title__h2 {
            margin-bottom: 4rem;
        }
    }

    .geode__modules--cards {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}